{% extends 'livros/base.html' %}
{% block title %}Redefinir senha{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Redefinir senha</h2>
    <p style="font-size: 15px; color: #7f796a;">
        Informe seu e-mail para receber um link de redefinição de senha.
    </p>

    <form method="post">
        {% csrf_token %}
        <label for="id_email">E-mail:</label>
        {{ form.email }}

        <div class="botoes-login">
            <button type="submit" class="btn-login">Enviar</button>
            <a href="{% url 'login' %}" class="btn-cancelar">Voltar</a>
        </div>
    </form>
</div>
{% endblock %}
