{% extends 'livros/base.html' %}
{% block title %}Adicionar Livro{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Adicionar Livro</h2>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{% url 'home' %}" class="btn-voltar">← Voltar à Página Inicial</a>
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <label for="{{ form.nome.id_for_label }}">Nome:</label>
            {{ form.nome }}
        </div>

        <div>
            <label for="{{ form.autor.id_for_label }}">Autor:</label>
            {{ form.autor }}
        </div>

        <div>
            <label for="{{ form.genero.id_for_label }}">Gênero:</label>
            {{ form.genero }}
        </div>

        <div>
            <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
            {{ form.descricao }}
        </div>

        <div>
            <label for="{{ form.local.id_for_label }}">Local:</label>
            {{ form.local }}
        </div>

        <div>
            <label for="{{ form.capa.id_for_label }}">Capa:</label>
            {{ form.capa }}
        </div>

        <div>
            <label for="{{ form.nota.id_for_label }}">Nota (0 a 10):</label>
            {{ form.nota }}
        </div>

        <div class="form-checkbox">
            <label for="{{ form.lido.id_for_label }}">Já leu?</label>
            {{ form.lido }}
        </div>

        <div>
            <label for="{{ form.preco.id_for_label }}">Preço:</label>
            {{ form.preco }}
        </div>

        <div>
            <label for="{{ form.onde_comprar_nome.id_for_label }}">Loja (ex: Amazon):</label>
            {{ form.onde_comprar_nome }}
        </div>

        <div>
            <label for="{{ form.onde_comprar_link.id_for_label }}">Link da loja:</label>
            {{ form.onde_comprar_link }}
        </div>

        <div class="botoes-formulario">
            <button type="submit" class="btn-salvar">Salvar</button>
            <a href="{% url 'home' %}" class="btn-cancelar">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
