{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Biblioteca{% endblock %}</title>


    <!-- CSS do Swiper.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- Seu CSS personalizado -->
    <link rel="stylesheet" href="{% static 'livros/style.css' %}">
</head>
<body>

    <!-- HEADER FIXO -->
    <header class="topo-header">
        <div class="limite-header">
            <div class="logo-nome">
                📚 <strong>Minha Biblioteca</strong>
            </div>
            {% if request.user.is_authenticated %}
            <div class="usuario">
                <span>Bem-vindo, {{ request.user.username }}!</span>
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-sair">Sair</button>
                </form>
            </div>
            {% endif %}
        </div>
    </header>

    <div class="container">
        {% block content %}
        <!-- O conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </div>

    <!-- JS do Swiper.js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    {% block scripts %}
    <!-- Bloco para scripts específicos da página -->
    {% endblock %}

    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy;  Minha Biblioteca.</p>
            <p>Desenvolvido por Leonardo Lins Barbosa</p>
        </div>
    </footer>
</body>
</html>
