{% extends 'livros/base.html' %}
{% block title %}Editar Livro{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Editar Livro</h2>
    <div style="text-align: center; margin-bottom: 20px;">
        <a href="{% url 'home' %}" class="btn-voltar">← Voltar à Página Inicial</a>
    </div>


    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <label for="{{ form.nome.id_for_label }}">Nome:</label>
        {{ form.nome }}

        <label for="{{ form.autor.id_for_label }}">Autor:</label>
        {{ form.autor }}

        <label for="{{ form.genero.id_for_label }}">Gênero:</label>
        {{ form.genero }}

        <label for="{{ form.descricao.id_for_label }}">Descrição:</label>
        {{ form.descricao }}

        <label for="{{ form.local.id_for_label }}">Local:</label>
        {{ form.local }}

        <label for="{{ form.capa.id_for_label }}">Capa:</label>
        {{ form.capa }}

        <label for="{{ form.nota.id_for_label }}">Nota:</label>
        {{ form.nota }}

        <label for="{{ form.lido.id_for_label }}">Já leu?</label>
        {{ form.lido }}

        <label for="{{ form.preco.id_for_label }}">Preço:</label>
        {{ form.preco }}

        <label for="{{ form.onde_comprar_nome.id_for_label }}">Loja (ex: Amazon):</label>
        {{ form.onde_comprar_nome }}

        <label for="{{ form.onde_comprar_link.id_for_label }}">Link da loja:</label>
        {{ form.onde_comprar_link }}

        <label for="{{ form.desejado.id_for_label }}">Deseja comprar?</label>
        {{ form.desejado }}

        <div class="botoes-formulario">
            <button type="submit" class="btn-salvar">Salvar</button>
            <a href="{% url 'home' %}" class="btn-cancelar">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}
